.weather {
  background-size: cover;
  border-radius: 12px;
  height: 80px;
  background-position: right center;
  margin: 0 0 40px;
}

.weather__dergee {
  color: #fff;
  padding: 20px 16px;
  font: normal 700 36px/1.1 "Cabinet Grotesk", Arial, sans-serif;
}

@media screen and (max-width: 765px) {
  .weather {
    margin: 0 0 32px;
  }
}
