.page {
  background: #f3f3f3;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

@media screen and (max-width: 765px) {
  .page {
    padding: 0 16px 20px;
  }
}
